.accordion-body {
    font-size: large;
    text-align: center;
}

.accordion-button {
    display: block;
    text-align: center;
    background-color: rgb(215, 176, 251);
    font-size: large;
}

.form {
    font-size: x-large;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
}

.signup,
.login {
    display: flex;
    justify-content: center;
    text-align: center;
}


.signup-link {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

#login-btn {
    margin: 2rem 0;
}