/* ACCORDION CSS STYLING */
.accordion-body {
    font-size: large;
    text-align: center;
}

.accordion-button {
    display: block;
    text-align: center;
    background-color: rgb(215, 176, 251);
    font-size: large;
}

/* SIGN UP/ LOGIN CSS STYLING */


.signup,
.login {
    display: flex;
    justify-content: center;
    text-align: center;
}

.signup-link {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

#login-btn {
    margin: 2rem 0;
}

/* RESERVATION FORM STYLING */
.btn-radio {
    width: 30%;
    white-space: nowrap;
}

.btn-outline-primary.btn-radio input[type="radio"]:checked~label,
.btn-outline-primary.btn-radio input[type="radio"]:active~label,
.btn-outline-primary.btn-radio input[type="radio"]:focus~label {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
}


/* NAVBAR CSS STYLING */
header {
    background-color: #212529;
}

.navbar-brand {
    color: #f8f9fa !important;
    font-size: 40px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #f8f9fa !important;
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
    font-size: 20px;
}

.navbar-nav .active {
    font-weight: bold;
    font-size: 20px !important;
}

/* SUCCESSFUL BOOKING CSS */
.btn-responsive {
    font-size: 16px;
    padding: 8px 16px !important;
}

/* MEDIA QUERIES CSS */

@media (max-width: 999px) {
    .vertical-table thead {
        display: none;
    }

    .vertical-table tr {
        display: block;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }

    .vertical-table td {
        display: block;
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px;
        text-align: right;
    }

    .vertical-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        padding-right: 10px;
        text-align: left;
    }

    .vertical-table td:last-child {
        border-bottom: none;
    }

}


/* SMALL SCREEN */
@media (max-width: 575.98px) {
    .btn-responsive {
        font-size: 12px;
        padding: 5px 10px !important;
    }
}

/* MEDIUM SCREEN */
@media (min-width: 578px) and (max-width: 999px) {
    .btn-responsive {
        font-size: 12px;
        padding: 6px 2px !important;
        line-height: 1.5;

    }
}

/* LARGE SCREEN */
@media (min-width: 999px) {
    .btn-responsive {
        font-size: 16px;
        padding: 8px 16px !important;
    }
}