{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card mt-4 shadow">
                <div class="reservation-card-header" id="todays-reservations-heading">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link reservation-btn " data-bs-toggle="collapse"
                            data-bs-target="#todays-reservations" aria-expanded="true"
                            aria-controls="todays-reservations">
                            Today's Reservations
                        </button>
                    </h5>
                </div>
                <div id="todays-reservations" class="collapse show" aria-labelledby="todays-reservations-heading">
                    <div class="card-body">
                        {% include 'reservation_table.html' with reservations=todays_reservations %}
                    </div>
                </div>
            </div>

            <div class="card mt-4 shadow">
                <div class="reservation-card-header" id="future-reservations-heading">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link reservation-btn" data-bs-toggle="collapse"
                            data-bs-target="#future-reservations" aria-expanded="false"
                            aria-controls="future-reservations">
                            Future Reservations
                        </button>
                    </h5>
                </div>
                <div id="future-reservations" class="collapse" aria-labelledby="future-reservations-heading">
                    <div class="container">
                        {% for month_group in future_reservations_by_month %}
                        <div class="row">
                            <div class="col">
                                <div class="month-card-header" id="{{ month_group.title|slugify }}-heading">
                                    <h5 class="mb-0 text-center">
                                        <button class="btn btn-link reservation-btn" data-bs-toggle="collapse"
                                            data-bs-target="#{{ month_group.title|slugify }}" aria-expanded="false"
                                            aria-controls="{{ month_group.title|slugify }}">
                                            {{ month_group.title }}
                                        </button>
                                    </h5>
                                </div>
                                <div id="{{ month_group.title|slugify }}" class="collapse"
                                    aria-labelledby="{{ month_group.title|slugify }}-heading">
                                    <div class="card-body">
                                        {% include 'reservation_table.html' with reservations=month_group.reservations %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card mt-4 shadow">
                <div class="reservation-card-header" id="past-reservations-heading">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link reservation-btn" data-bs-toggle="collapse"
                            data-bs-target="#past-reservations" aria-expanded="false" aria-controls="past-reservations">
                            Past Reservations
                        </button>
                    </h5>
                </div>
                <div id="past-reservations" class="collapse" aria-labelledby="past-reservations-heading">
                    <div class="card-body">
                        {% include 'reservation_table.html' with reservations=past_reservations %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}