{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Staff Menu</h2>
    <div class="menu">
        {% include 'menu_content.html' %}
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td data-label="Category:">{{ item.category }}</td>
                <td data-label="Name:">{{ item.name }}</td>
                <td data-label="Description:">{{ item.description }}</td>
                <td data-label="Price:" class="price">€{{ item.price }}</td>
                <td>
                    <div class="btn-group d-flex">
                        <a href="{% url 'edit_menu_item' item.id %}" class="btn btn-edit">Edit</a>
                        <a href="{% url 'delete_menu_item' item.id %}" class="btn btn-delete delete-menu-item"
                            data-delete-url="{% url 'delete_menu_item' item.id %}">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a href="{% url 'create_menu_item' %}" class="btn btn-primary">Add New Menu Item</a>

    </div>
</div>
{% endblock %}