{% extends "base.html" %}
{% load static %}
{%block content%}
<div id="about" class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 mb-4 mb-md-0">
                <h2>About Us</h2>
                <p class="lead mb-4">Our Restaurant was founded in the heart of Dublin City in 1997 by a passionate
                    family with a love for exceptional food and warm hospitality. Over the years, the restaurant has
                    become a cherished destination for locals and visitors alike, as they gather to savor the finest
                    ingredients Dublin has to offer.</p>
                <p>Set amidst the vibrant and friendly atmosphere of Dublin, our family-run restaurant is dedicated to
                    showcasing the best of the city's locally sourced produce. Our talented chefs craft exquisite dishes
                    that pay homage to the rich culinary heritage of the area, while our attentive and knowledgeable
                    staff ensure a truly memorable dining experience for every guest. In our warm and welcoming
                    establishment, the spirit of Dublin comes alive as guests are treated to a delightful blend of
                    traditional flavors and contemporary innovation.</p>
                <p class="d-none d-lg-block">As we continue our journey, we remain deeply committed to our roots and to
                    the city that has embraced
                    us so warmly. We take pride in supporting local farmers and suppliers, and in doing so, we help to
                    strengthen the very community that has made our success possible. Our Restaurant is more than just a
                    place to dine; it is a testament to the beauty, charm, and hospitality of Dublin and its people.</p>
                <!-- <a href="#" class="btn btn-outline-primary btn-lg mt-4">Learn More</a> -->
            </div>
            <div class="col-md-6">
                <div class="position-relative">
                    <img src="{% static 'images/dinner_2.jpg' %}" alt="Restaurant" class="img-fluid rounded shadow-lg">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <h3 class="text-white text-shadow mb-0">Experience<br>Our<br>Cuisine</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}