<footer class="footer bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline mb-4">
                    <li class="list-inline-item mx-2">
                        <a href="https://www.facebook.com/" class="text-white" target="_blank">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a href="https://www.twitter.com/" class="text-white" target="_blank">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a href="https://www.instagram.com/" class="text-white" target="_blank">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0 text-white">&copy; 2023 Restaurant Copyright. For Educational purposes.</p>
            </div>
        </div>
    </div>
</footer>