{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container login-container mt-5">
    <h2 class="login-title">Login</h2>
    <div class="login">

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="password-reset-links">
                <a href="{% url 'password_reset' %}" class="password-reset-link">Forgot Password?</a>
                <a href="{% url 'password_change' %}" class="password-change-link">Change Password</a>
            </div>

            <button class="btn  btn-responsive login-btn" type="submit">Login</button>
        </form>

    </div>
    <div class="signup-section">
        <p class="signup-text">Need to Sign Up?</p>
        <a class="btn btn-responsive signup-btn" role="button" href="{% url 'signup' %}">Sign Up</a>
    </div>
</div>
{% endblock %}