{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container login-container">
    <h2 class="login-title">Sign Up</h2>
    <div class="login">

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary btn-responsive signup-btn" type="submit">Sign Up</button>
        </form>

    </div>
    <div class="signup-link">
        <span>
            <p>Already have an account?</p>
        </span>
        <a class="btn btn-outline-primary btn-responsive login-btn" role="button" href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}